html, body {
    font-display: bold;
    color: white;
    text-align: initial;
    background-image: url(./images/crystal-ball-4043805_1280.jpg);
    text-align: center;
}

#game {
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}